<div class='ui segment'>
<h1>My Company</h1>

    <% @companies.each do |company| %>
      
        <%= company.name %>
        <%= link_to 'Show', company %>
        <%= link_to 'Edit', edit_company_path(company) %>
        <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>

<br>

<%= link_to 'New Company', new_company_path %>
</div>
<div class='ui segment'>
<%= link_to 'New Location', new_location_path %>
</div>