<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @company.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @company.show %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @company.edit %>
</p>

<p>
  <strong>Update:</strong>
  <%= @company.update %>
</p>

<p>
  <strong>Create:</strong>
  <%= @company.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @company.destroy %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
