<div class="fixed ui top sidebar transparent inverted main menu">
  <div class="container">
    <div id='logo' class="launch item">
      <%= link_to home_index_path do %>
      <%= semantic_icon('calendar') %>
      Schdlr
      <% end %>
    </div>
    <%= link_to companies_path do %>
    <div id='companytag' class='launch item'>
      Company
    </div>
    <% end %>
    <%= link_to schedules_path do %>
    <div id='schedulestag' class='launch item'>
      Schedules
    </div>
    <% end %>
    <%= link_to employees_path do %>
    <div id='employeestag' class='launch item'>
      Employees
    </div>
    <% end %>
    <% if current_user %>
    <div class='right item'>
      <%= current_user.email %>
    </div>
    <%= link_to destroy_user_session_path, :method => :delete do %>
    <div class='right item'>
      Logout
    </div>
    <% end %>
    <% else %>
    <%= link_to new_user_session_path do  %>  
    <div class='right item'>        
      Login
    </div>
    <% end %>
    <% end %>
  </div>
</div>